/* Fonts */

@import "assets/fonts/web-fonts.css";

/* General Style */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 254, 254);
    color: rgb(17, 17, 17);
    font: 12px / 1.6 'Spotify Mix', sans-serif;
}