/* Fonts */

@import "assets/fonts/web-fonts.css";

/* General Style */

body {
    background-color: rgb(254, 254, 254);
    color: rgb(17, 17, 17);
    font-family: 'Spotify Mix', sans-serif;
    margin: 0;
}

/* Navbar */ 

/* Base CSS (Viewport >= 1000px */

nav {
    display: flex;
    padding: 2px 20px;
    height: 60px;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 42px;
    height: 42px;
}

.nav-links ul {
    list-style: none;
    margin: 8px 20px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    border-radius: 40px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.nav-links li:hover {
    background-color: rgb(240, 241, 243);
}

.nav-links li a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.social-links {
    margin-left: auto;
}

.menu-button {
    display: none; 
}

/* Tablet (<= 1000px) */
@media (max-width: 1000px) {
    .menu-button {
        display: block;
        margin-left: auto;
        background: none;
        border: none;
    }
    .menu-button img {
        height: 34px;
        width: 34px;
    }

    .social-links {
        display: none;
    }
}

/* Mobile Layout */
@media (max-width: 700px) {
    .nav-options {
        display: none;
    }
}

/* Main */


