/* Introduction Lines */

.introduction {
    padding: 30px 20px;
    text-align: center;
}

.introduction h1 {
    margin: 10px;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.introduction h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero {
    width: 100%;
    align-items: center;
    padding: 0px 30px;
}

.hero-pictures {
    display: flex;
    gap: 12px;
    width: 100%;
}

.hero-pictures img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.placeholder-1 {
    flex: 2;
}

.placeholder-2 {
    flex: 1;
}

.placeholder-3 {
    flex: 2;
}

/* Mobile Layout */

@media (max-width: 700px) {
    .hero-pictures {
        flex-flow: column wrap;
    }

    .hero {
        padding: 20px;
    }

    .introduction h2 {
        font-size: 1rem;
    }
}

/* Main */

main {
    margin: 30px 0px;
}

/* Footer */

footer {
    width: 100%;
    margin-top: 80px;
    border-top: 1px solid black;
}

footer h1 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
