@import "assets/fonts/web-fonts.css";

body {
    background-color: rgb(254, 254, 254);
    color: rgb(50, 50, 50);
    font-family: 'Spotify Mix', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    display: flex;
    padding: 2px 20px;
    height: 60px;
    align-items: center;
}

.nav-logo {
    width: 42px;
    height: 42px;
    padding: 0px 20px;
}

.nav-links ul {
    list-style-type: none;
    padding: 8px 20px;
    display: flex;
}

.nav-links li {
    color: rgb(50, 50, 50);
    border-radius: 28px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.nav-links li:hover {
    background-color: rgb(230, 240, 250);
}

.social-links {
    margin-left: auto;
}

/* Main */

