/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: black;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}