/* Fonts */
@import "fonts.css";

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Base Typography */
body {
    background-color: rgb(254, 254, 254);
    color: rgb(17, 17, 17);
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Spotify Mix', sans-serif;
}